@font-face {
  font-family: circuit;
  src: url(fonts/circuit.woff2);
}

:root {
  --primary: #2433ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: circuit;
}

body {
  background-color: #f0f0f0;
  position: relative;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #2433ff;
  color: #fff;
}

.btn--white {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid #fff;
}

.btn--white:hover {
  border: 1px solid #fff;
  color: #fff;
}

.btn--alternate {
  border: 1px solid #fff;
  color: #fff;
}

.btn--alternate:hover {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid #fff;
}

.btn--blue {
  background-color: var(--primary);
  color: #fff;
}

.btn--blue:hover {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.tag {
  display: inline;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
}

.tag--alternate {
  border: 1px solid #fff;
  color: #fff;
}

/* Navigation Section */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0.5rem;
}

.navbar__content {
  padding: 1.2rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  transition: transform 0.4s ease-in-out;
}

.logo:hover {
  transform: rotate(100deg);
}

.navbar__links {
  display: flex;
  font-size: 0.75rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__link {
  padding: 0.75rem 1rem;
  text-decoration: none;
  background-color: #f0f1ff;
  color: var(--primary);
  border-radius: 20px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.navbar__link:hover {
  background-color: #d3d6ff;
}

/* Hero Section */
.hero {
  margin: 6rem 0.5rem 0.5rem;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.hero__left,
.hero__right {
  border-radius: 15px;
  overflow: hidden;
  flex-basis: 50%;
}

.hero__left {
  padding: 10rem 2rem 2.5rem;
  background-color: var(--primary);
}

.hero__title {
  color: #fff;
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 3.75rem;
}

.hero__span {
  color: #b3b8ff;
}

.hero__btns {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.hero__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}

.hero__card {
  background-color: #fff;
  padding: 2rem 0;
  text-align: center;
  border-radius: 15px;
}

.hero__card-title {
  font-weight: 500;
  color: var(--primary);
  line-height: 1.5rem;
  margin-top: 20px;
  font-size: 1.3rem;
}

/* About Section */
.about {
  margin: 0.5rem;
  background-color: var(--primary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12rem;
}

.about__container {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 5rem 4rem;
}

.about__img {
  height: 40px;
}

.about__title {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 3.5rem;
}

.about__btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Portfolio Section */
.portfolio {
  padding: 12rem 2.5rem;
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.portfolio__title {
  font-size: 3.7rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 3.75rem;
  margin-top: 1rem;
}

.portfolio__cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 0.5rem;
}

.portfolio__img-content {
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  filter: grayscale();
  transition: filter 0.3s ease-in-out;
}

.portfolio__img-content:hover {
  filter: grayscale(0);
}

.portfolio__img {
  width: 100%;
  object-fit: contain;
}

.portfolio__card-content {
  padding: 1.75rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__card-title {
  font-weight: 500;
  color: var(--primary);
}

/* Services Section */
.services {
  padding: 0 2.5rem;
}

.services__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.services__title {
  font-size: 3.7rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 3.75rem;
  margin-top: 1rem;
}

.services__cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.services__card {
  background-color: #fff;
  height: 400px;
  border-radius: 15px;
  padding: 1.75rem 2rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__card-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.services__img-content {
  display: inline;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
}

.services__img {
  height: 20px;
}

.services__name {
  font-size: 2rem;
  font-weight: 500;
}

.services__para {
  font-size: 0.9rem;
}

.services__tags {
  margin: 1rem 0;
}

.services__cta {
  margin-top: 0.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 1.75rem 2rem;
}

.services__cta-title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  line-height: 2rem;
}

.services__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Highlights Section */
.highlights {
  margin: 12rem 0.5rem 0;
  padding: 10rem 2rem;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}

.highlights__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights__title {
  font-size: 3.7rem;
  font-weight: 500;
  color: var(--primary);
  line-height: 3.75rem;
  margin-top: 1rem;
  text-align: center;
}

.highlights__cards {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.5rem;
}

.highlights__card {
  background-color: #f0f0f0;
  height: 345px;
  border-radius: 15px;
  padding: 1.75rem 2rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hightlights__card-title {
  font-size: 5rem;
  font-weight: 500;
}

.hightlights__card-desc {
  font-size: 2rem;
  font-weight: 500;
}

/* Contact Section */
.contact {
  margin: 0.5rem;
  padding: 8rem 2rem;
  text-align: center;
  background-color: var(--primary);
  border-radius: 15px;
}

.contact__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
  line-height: 3.75rem;
  margin: 1.75rem 0;
  text-align: center;
}

.contact__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Footer Section */
.footer {
  margin: 0.5rem;
}

.footer__content {
  text-align: center;
  background-color: #e8e9f1;
  border-radius: 15px;
  padding: 6rem 0;
}

.footer__title {
  color: var(--primary);
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.footer__links {
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.footer__link {
  padding: 0.75rem 1rem;
  text-decoration: none;
  background-color: #dbddf2;
  color: var(--primary);
  border-radius: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.footer__link:hover {
  background-color: #c1c4f4;
}

.footer__img {
  height: 60px;
}

.footer__img {
  transition: transform 0.4s ease-in-out;
}

.footer__img:hover {
  transform: rotate(100deg);
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.footer__socials-img {
  height: 20px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.footer__socials-img:hover {
  opacity: 0.5;
}

.footer__copyright {
  background-color: #e2e3f1;
  color: var(--primary);
  font-size: 0.8rem;
  padding: 1.25rem;
  border-radius: 15px;
}
